*~
*.d
appendix/*~
appendix/waifu2x-nocuda/*~
appendix/waifu2x-nocuda/lib/*~
/Debug/
/Release/
output/
out/
release/
debug/
src/*.o
waifu2x-converter-cpp
*.s
*.ii
perf.data*
*.dll
*.obj
*.exe
src/modelHandler_OpenCL.cl.h
src/modelHandler_CUDA.ptx.h
*.ptx*
prof.conf
prof.txt
*.asm
*.o
conv
*.bin
*.cubin
*.sass
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
libw2xc.so
modelHandler_OpenCL.cl.h
runbench
runtest
*.isa
*.il
.gdbinit
