*~
*.d
appendix/*~
appendix/waifu2x-nocuda/*~
appendix/waifu2x-nocuda/lib/*~
/Debug/
/Release/
src/*.o
waifu2x-converter-cpp
*.s
*.ii
perf.data*
*.dll
*.obj
*.png
*.exe
src/modelHandler_OpenCL.cl.h
conv