#include <windows.h>
#include "w2xcr.h"

IDD_INIT DIALOG DISCARDABLE 100, 100, 200, 80
STYLE WS_POPUP
CAPTION "w2xcr parameters"
FONT 12, "MS UI Gothic"
BEGIN
    LTEXT       "denoise",-1,10,10,100,15
    LTEXT       "scale",-1,10,30,100,15

    /* EDITTEXT    IDC_DENOISE,100,10,80,15 */
    COMBOBOX    IDC_DENOISE,100,10,80,300,CBS_DROPDOWNLIST|WS_VSCROLL|WS_TABSTOP
    EDITTEXT    IDC_SCALE,100,30,80,15

    DEFPUSHBUTTON "OK",IDC_OK,10,60,30,14
    PUSHBUTTON "Cancel", IDC_CANCEL, 50, 60, 30, 14
END
